<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= project.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= project.phone %>
  </p>

</div>
